<p>
  person works!
</p>

<h1>{{person.name}}</h1>
<h2>{{person.email}}</h2>

<h2>Children:</h2>
<mat-tree [dataSource]="person.children" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <span>
<button mat-icon-button disabled></button>
<strong>{{ node.key }} </strong> - {{node.name}}
</span>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <span>
<button mat-icon-button matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.name">
<mat-icon class="mat-icon-rtl-mirror">
  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
</mat-icon>
</button>
{{node.name}}
</span>
  </mat-tree-node>
</mat-tree>