<form [formGroup]="personForm">
  <mat-form-field>
    <input type="text" placeholder="Name" matInput formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="email" placeholder="Email" matInput formControlName="email">
  </mat-form-field>
  <br>
  <h3>Children</h3>
  <button mat-button type="button" (click)="personForm.addChild()">Add Child</button>
  <br>
  <div *ngFor="let childControl of personForm.getChildren(); let id = index">
    <mat-form-field>
      <mat-select [formControl]="childControl">
        <mat-option *ngFor="let possibleChild of possibleChildren()" value="possibleChild">{{possibleChild.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  </div>
  <button mat-button type="submit" (click)="savePerson()">Save</button>
</form>